.search {
  text-align: center;
}

.navbar {
  background-color: black(0, 0, 255, 0.3);
}

.dynamiques {
  border: 1px solid black
}

.para {
  height: 200px;
  position: relative // position : absolute;
}

#text {
  background-color: greenyellow;
}
// .flotte {
// float:left;
// }