@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Lobster|Pacifico');


.size{
 font-family: 'Lobster', cursive;
}

html, body {
  font-size: 16px;
  background-image: url(../images/1.jpeg);
  margin: 0px;
  padding: 0px;
}
#texte1 {
  background-color: rgba(255, 255, 255, 0.7);
 
}
.para {
  height: 200px;
  position: relative // position : absolute;
}