@import url('https://fonts.googleapis.com/css?family=Courgette|Lobster|Pacifico');

#mainToolbar img {
  margin-right: 10px;
  width: 50px;
}



.interne{
  margin-top: 13px;
}

.search{
   margin-left: 200px;
}

.logo{
  width: 130px;
}

.rigth{
  font-size: 30px;
}

.plus{
  margin-right: 20px;
  color: black;
}

#test {
height: 700px;
}

