@import url('https://fonts.googleapis.com/css?family=Courgette|Lobster|Pacifico');
#mainToolbar img {
  margin-right: 10px;
  width: 50px;
}
.navbar{
  height: 80px;
  background-color: rgba(48, 48, 48, 0.4);
  font-family: 'Lobster', cursive;
  color: black;
}

.interne{
  margin-top: 13px;
}

.search{
   margin-left: 200px;
}

.logo{
 font-size: 40px;
}

.rigth{
  font-size: 30px;
}

.plus{
  margin-right: 20px;
  color: black;
}

.navbar{
  margin: 0px;
}

// html{
//   height: 80px;
// }


