.search{
  text-align: center;
}
.navbar{
  background-color: black(0, 0, 255, 0.3);
}
// body{
//   background-image: url(../../../images/1.jpeg)
// }
.dynamiques{
  border: 1px solid black
}
// body{
//     background-image: url(../../../images/animatedConcert.gif);
// }
body{
  background: url(http://winnerhun.uw.hu/vigyorpofa.gif) no-repeat center center;
}